@page "/contact-me"

<div class="blade">
    <div class="content">
        <h3>Contact</h3>
        <p class="contact"><span class="contact-header">Phone (Cell):</span> (801) 388-5765</p>
        <p class="contact"><span class="contact-header">Email:</span> KaydenMiller1@gmail.com</p>
    </div>
</div>

@code {
    
}