@inject NavigationManager _navigateionManager

<MatAppBarContainer>
    <MatAppBar Fixed="true">
        <MatAppBarRow>
            <MatAppBarSection>
                <MatNavItem href="/">
                    <MatAppBarTitle>Kayden Miller</MatAppBarTitle>
                </MatNavItem>
            </MatAppBarSection>
            <MatAppBarSection Align="MatAppBarSectionAlign.End">
                <MatNavItem href="/about">
                    <MatIconButton Icon="info"></MatIconButton>
                    <span><MatH6>About Me</MatH6></span>
                </MatNavItem>

                <MatNavItem href="/skills">
                    <MatIconButton Icon="analytics"></MatIconButton>
                    <span><MatH6>Skills</MatH6></span>
                </MatNavItem>

                <MatNavItem href="/contact-me">
                    <MatIconButton Icon="contact_mail"></MatIconButton>
                    <span><MatH6>Contact Me</MatH6></span>
                </MatNavItem>
            </MatAppBarSection>
        </MatAppBarRow>
    </MatAppBar>
    <MatAppBarContent>
        @ChildContent
    </MatAppBarContent>
</MatAppBarContainer>

@code {
    [Parameter] 
    public RenderFragment ChildContent { get; set; }

    private void NavigateToSkills()
    {
        _navigateionManager.NavigateTo("/skills");
    }

    private void NavigateToAbout()
    {
        _navigateionManager.NavigateTo("/about");
    } 
    
    private void NavigateToContact()
    {
        _navigateionManager.NavigateTo("/contact-me");
    }
}