@using KaydenMiller.Models
@using System.Timers

<div class="blade">
    <div class="content">
        <h3>Personal Projects</h3>
        <Carousel Timer="@_timer">
            <CarouselItemContainer>
                <CarouselContentItem>A</CarouselContentItem>
                <CarouselContentItem>B</CarouselContentItem>
                <CarouselContentItem>C</CarouselContentItem>
            </CarouselItemContainer>
            @* <CarouselFooter> *@
            @*     <CarouselArrowButton></CarouselArrowButton> *@
            @*     <CarouselArrowButton></CarouselArrowButton> *@
            @* </CarouselFooter> *@
        </Carousel>
    </div>
</div>

@code {
    [Parameter]
    public string SelectedSlide { get; set; } = "Project1";

    private Timer _timer = new Timer(2500);
    
    private List<ProjectDisplayModel> _projects = new()
    {
        new()
        {
            ProjectCarouselId = "Project1",
            Title = "RGB LED Cube Controller",
            Description = "This simple circuit board was revision 2 of a design I am working on for a RGB LED Cube.",
            ButtonText = "Learn More",
            ImageUri = "images/RGB_Cube_V2.png",
            ImageAlt = "RGB LED Cube Controller Circuit"
        },
        new()
        {
            ProjectCarouselId = "Project2",
            Title = "RGB LED Cube Controller Project 2",
            Description = "This simple circuit board was revision 2 of a design I am working on for a RGB LED Cube.",
            ButtonText = "Learn More",
            ImageUri = "images/RGB_Cube_V2.png",
            ImageAlt = "RGB LED Cube Controller Circuit"
        },
        new()
        {
            ProjectCarouselId = "Project3",
            Title = "RGB LED Cube Controller Project 3",
            Description = "This simple circuit board was revision 2 of a design I am working on for a RGB LED Cube.",
            ButtonText = "Experience It",
            ImageUri = "images/RGB_Cube_V2.png",
            ImageAlt = "RGB LED Cube Controller Circuit"
        }
    };

}