<div class="background-splash">
    <img class="background-splash-photo" src="images/Person_TestSubject.png" alt="A picture of me"/>
    
    <div class="content">
        <h2>Hello, I'm Kayden</h2>
        
        <ul>
            <li>Thing about me 1</li>
            <li>Thing about me 2</li>
            <li>Thing about me 3</li>
            <li>Thing about me 4</li>
            <li>Thing about me 5</li>
        </ul>
    </div>
</div>

@code {
    
}