<div class="background-splash">
    <img class="background-splash-photo" src="images/Person_TestSubject.png" alt="A picture of me"/>
    
    <div class="content">
        <MatH2>Hello, I'm Kayden</MatH2>
        
        <ul>
            <li><MatBody1>I have been alive for 23 years.</MatBody1></li>
            <li><MatBody1>My favorite board game is BattleTech.</MatBody1></li>
            <li><MatBody1>My favorite video game's are Hunt Showdown and Starcraft 2.</MatBody1></li>
            <li><MatBody1>My favorite software framework to work in is .NET Core.</MatBody1></li>
            <li><MatBody1>I enjoy painting scale models especially ones from World War II.</MatBody1></li>
        </ul>
    </div>
</div>

@code {
    
}