@using System.Text
@using System.Diagnostics
<span><img class="@Classes" src="_content/SharedBlazorComponents/images/star.png" alt="@AltText"/></span>

@code {
    [Parameter]
    public string AltText { get; set; } = "Generic Star";

    [Parameter]
    public int StarWidthPercent { get; set; } = 100;

    public string Classes => CalculateClasses();

    private string CalculateClasses()
    {
        var sb = new StringBuilder();
        sb.Append("star ");
        
        switch (StarWidthPercent)
        {
            case 0:
                sb.Append("star-empty");
                break;
            case > 0 and <= 25:
                sb.Append("star-quarter");
                break;
            case >= 26 and <= 50:
                sb.Append("star-half");
                break;
            case >= 51 and <= 75:
                sb.Append("star-three-quarter");
                break;
        }

        return sb.ToString();
    }
}